* {
  font-family: "Quicksand", sans-serif;
}

body {
  max-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
}

footer {
  text-align: center;
}

nav a.active {
  font-weight: bold;
}

.form-input:focus-within:focus-within label {
  font-weight: bold;
}
